<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synergy">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginActivity">
        <activity android:name=".EquipmentSearch.CheckListActivity"/>
        <activity android:name=".Search.EditFaultReportActivity"/>
        <activity android:name=".EquipmentSearch.PmTaskActivity" />
        <activity android:name=".Search.EquipmentSearchActivityforEdit" />
        <activity android:name=".MainActivityLogin">

        </activity>
        <activity android:name=".EquipmentSearch.EquipmentSearchActivity" />
        <activity android:name=".Search.Search" />
        <activity android:name=".FaultReport.BeforeImage" />
        <activity android:name=".Dashboard.Dashboard" />
        <activity android:name=".EquipmentSearch.QrDetails" />
        <activity android:name=".FaultReport.FaultReportActivity" />
        <activity android:name=".Workspace.WorkspaceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>